<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maandprogrammas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
{{styling}}

</style>

</head>

    <div class='jumbotron text-center'>
        <h1>Maandprogrammas</h1>
        <p>Maandprogramma per groep</p>
    </div>

    <h4>Kajotters</h4>
    {{kajotters}}

    <h4>Noenies</h4>
    {{noenies}}

    <h4>Lippies</h4>
    {{lippies}}

    <h4>Jetties</h4>
    {{jetties}}

    <h4>Rabbits</h4>
    {{rabbits}}

    <h4>Deltas</h4>
    {{deltas}}

    <nav class='navbar navbar-default navbar-fixed-top'>
            <div class='container'>
                <div class='navbar-header'>
                    <button type="button" class='navbar-toggle' data-toggle="collapse" data-target="#myNavbar">
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='#'><span class='glyphicon glyphicon-fire logo-smallest'></span></a>
                </div>
                <div class='collapse navbar-collapse' id='myNavbar'>
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a onclick="location.href = '/home';">HOME</a></li>
                        <li><a href='#kajotters'>KAJOTTERS</a></li>
                        <li><a href="#noenies">NOENIES</a></li>
                        <li><a href="#lippies">LIPPIES</a></li>
                        <li><a href="#jeties">JETIES</a></li>
                        <li><a href="#rabbits">RABBITS</a></li>
                        <li><a href="#deltas    ">DELTAS</a></li>
                    </ul>
                </div>     
            </div>
        </nav>
        <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
                <div id="about" class="container-fluid">
                <div id="news" class="container-fluid bg-grey">
                <div id="services" class="container-fluid">
                <div id="portfolio" class="container-fluid">
                <div id="contact" class="container-fluid">

</html>